* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --text-descriptions: #565656;
  --page-background: #fefefe;
  --text-copyright: #A4A4A4;
  --border-footer: #E4E4E4;
  --text-client: #757575;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--page-background);
}

.flex {
  display: flex;
}

.size {
  margin: auto;
  max-width: 75rem;
}

/* HEADER */

.header-container {
  margin-top: 3rem;
  margin-bottom: 1.2rem;
  justify-content: end;
}

.menu-container {
  gap: 3.75rem;
  cursor: pointer;
}

.menu-container p {
  font-weight: 500;
}

/* SECTION */

.our-client-container {
  margin-top: 2.5rem;
  margin-bottom: 5.85rem;
  justify-content: space-between;
}

.our-client-text {
  max-width: 20rem;
}

.our-client-text h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.our-client-text p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: var(--text-client)
}

.our-client-logos {
  gap: 3.75rem;
  cursor: pointer;
  margin-top: 1.5rem;
  align-items: center;
}

/* FOOTER */

.footer-container {
  justify-content: space-between;
  border-top: 2px solid var(--border-footer);
  border-bottom: 2px solid var(--border-footer);
}

.footer-text-socials {
  max-width: 19rem;
  font-size: 0.875rem;
  margin-top: 7.25rem;
  margin-bottom: 1.85rem;
}

.footer-text {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.4rem;
  margin-bottom: 2.5rem;
  color: var(--text-descriptions);
}

.footer-socials img {
  width: 3.25rem;
  cursor: pointer;
  padding-right: 1rem;
}

.footer-information {
  gap: 6.5rem;
  margin-top: 4rem;
}

.footer-information h5 {
  font-weight: 600;
  font-size: 1.25rem;
  padding-bottom: 1.5rem;
}

.footer-information p {
  cursor: pointer;
  font-weight: 300;
  font-size: .875rem;
  line-height: 1.75rem;
}

.copyright {
  margin-top: 1rem;
  font-weight: 300;
  font-size: .875rem;
  justify-content: center;
  color: var(--text-copyright);
}
