* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --text-descriptions: #565656;
  --page-background: #fefefe;
  --text-copyright: #a4a4a4;
  --border-footer: #e4e4e4;
  --text-client: #757575;
  --text-title: #000000; 
  --blue-400: #2639ed;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--page-background);
}

.flex {
  display: flex;
}

.size {
  margin: auto;
  max-width: 75rem;
}

.absolute {
  position: absolute;
}

.button {
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 10px;
  background-color: var(--blue-400);
  border-radius: 60px;
  border: 1px solid var(--blue-400);
  font-weight: 500;
  color: var(--page-background);
}

/* HEADER */

.header-container {
  margin-top: 3rem;
  margin-bottom: 1.2rem;
  justify-content: end;
}

.menu-container {
  gap: 3.75rem;
  cursor: pointer;
}

.menu-container p {
  font-weight: 500;
}

/* SECTION */

.hero-container {
  margin-bottom: 5.85rem;
  margin-right: 0;
  margin-left: 5rem;
  width: 90vw;
  height: 35rem;
}

.hero-text {
  margin-top: 5.9rem;
  flex-direction: column;
  max-width: 32rem;

}

.hero-text h1 {
  margin-bottom: 3.2rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-title);
}

.hero-text p{
  margin-bottom: 2.8rem;
  color: var(--text-descriptions);
  font-size: 16px;
}

.hero-btn-group1 {
  left: 12vw;
  top: 57vh;
}

.hero-btn-group2 {
  width: 28rem;
  left: 3vw;
  top: 61.5vh;
}

.hero-img {
  width: 50vw;
  height: max-content;
}

.hero-img img {
  margin-right: 0;
}

.hero-img #img1 {
  right: 45vw;
  top: 16vh;
  width: 10vw;
}

.hero-img #img2 {
  right: 8vw;
  top: 70vh;
  width: 15vw;
}

.hero-img #img3 {
  right: 0;
  top: 16vh;
  width: 50.5vw;
}

/* SECTION */

.our-client-container {
  margin-top: 2.5rem;
  margin-bottom: 5.85rem;
  justify-content: space-between;
}

.our-client-text {
  max-width: 20rem;
}

.our-client-text h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.our-client-text p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: var(--text-client);
}

.our-client-logos {
  gap: 3.75rem;
  cursor: pointer;
  margin-top: 1.5rem;
  align-items: center;
}

/* MAIN */

/* SECTION */

.subscribe-container {
  margin: auto;
  padding: 10.1rem 0;
  max-width: 84.5rem;

  background-image: url("./assets/subscribe-background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.subscribe-newsletter {
  flex: 1.25;
  flex-direction: column;
  justify-content: center;

  padding-left: 5.75rem;
}

.subscribe-input {
  flex: 1;
  align-items: center;
}

.subscribe-input input {
  width: 30rem;
  height: 4.25rem;
  border: none;
  outline: none;
  padding: 1.5rem;
  font-size: 0.875rem;
  margin-left: -5rem;
  border-radius: 5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.subscribe-button {
  width: 10rem;
  height: 3.25rem;
  margin-left: 14.5rem;
}

/* FOOTER */

.footer-container {
  justify-content: space-between;
  border-top: 2px solid var(--border-footer);
  border-bottom: 2px solid var(--border-footer);
}

.footer-text-socials {
  max-width: 19rem;
  font-size: 0.875rem;
  margin-top: 7.25rem;
  margin-bottom: 1.85rem;
}

.footer-text {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.4rem;
  margin-bottom: 2.5rem;
  color: var(--text-descriptions);
}

.footer-socials img {
  width: 3.25rem;
  cursor: pointer;
  padding-right: 1rem;
}

.footer-information {
  gap: 6.5rem;
  margin-top: 4rem;
}

.footer-information h5 {
  font-weight: 600;
  font-size: 1.25rem;
  padding-bottom: 1.5rem;
}

.footer-information p {
  cursor: pointer;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.75rem;
}

.copyright {
  margin-top: 1rem;
  font-weight: 300;
  font-size: 0.875rem;
  justify-content: center;
  color: var(--text-copyright);
}


/* Responsive */

@media screen and (max-width: 768px) {

  .hero-container {
    flex-direction: column;
    margin: 16px;
  }

  .hero-text{
    margin-top: 1rem;
  }

  .hero-btn{
    display: block;
    position: relative;
  }

  .hero-btn-group1 {
    align-items: center;
    top: auto;
   }
  
  .hero-btn-group2 {
    width: auto;
    left: 1vw;
    top: auto;
  }
 
  .hero-img #img1{
    display: none;
  }
  .hero-img #img2 {
    display: none;
  }

  .hero-img #img3 {
    display: none;
  }
}

@media screen and (max-width: 1024px) {

  .hero-container {
    flex-direction: column;
    margin: 16px;
  }

  .hero-text{
    margin-top: 1rem;
    text-align: center;
  }

  .hero-btn{
    display: block;
    position: relative;
  }

  .hero-btn-group1 {
    align-items: center;
    top: auto;
   }
  
  .hero-btn-group2 {
    width: auto;
    left: 1vw;
    top: auto;
  }
 
  .hero-img{
    display: block;
    position: relative;
  }

  .hero-img #img1{
    display: none;
  }

  .hero-img #img2 {
    display: none;
  }

  .hero-img #img3 {
    top: 13vh;
    width: 80%;
  }
}