* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --blue-400: #2639ed;
  --text-title: #000000;
  --text-client: #757575;
  --border-footer: #e4e4e4;
  --text-copyright: #a4a4a4;
  --page-background: #fefefe;
  --text-descriptions: #565656;
}

body {
  min-height: 100vh;
  background-color: var(--page-background);
}

.flex {
  display: flex;
}

.absolute {
  position: absolute;
}

.size {
  padding: 0 2rem;
  margin-inline: auto;
  max-width: 79.5rem;
}

h1 {
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--text-title);
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: var(--text-client);
}

.button {
  align-items: center;
  justify-content: center;

  cursor: pointer;
  font-weight: 500;
  border-radius: 3.75rem;
  color: var(--page-background);
  background-color: var(--blue-400);
  border: 1px solid var(--blue-400);

  transition: all 300ms ease-out;
}

.button:hover {
  opacity: .8;
}

/* MENU HEADER */

.header-container {
  top: 0;
  z-index: 1;
  position: sticky;

  padding-top: 3rem;
  padding-bottom: 1.2rem;
  background-color: var(--page-background);
}

.nav-container {
  justify-content: end;
  margin-inline: auto;
  width: 79.5rem;
}

.menu-container {
  gap: 3.75rem;
  flex-wrap: wrap;
  list-style: none;
}

.menu-container a {
  font-weight: 500;
  text-decoration: none;
  color: var(--text-title);
}

.menu-container li {
  transition: all 300ms ease-out;
}

.menu-container > li:hover {
  scale: 1.1;
}

/* HERO SECTION */

h2 {
  font-weight: 400;
  font-size: 1.75rem;
}

.hero-container {
  height: 35rem;
  justify-content: space-between;
}

.hero-text {
  flex-direction: column;

  max-width: 32rem;
  margin-top: 5rem;
}

.hero-text h1 {
  margin-bottom: 2.5rem;
}

.hero-text p {
  line-height: 1.6rem;
  margin-bottom: 2rem;
  color: var(--text-descriptions);
}

.hero-button {
  padding: 1.25rem 2.5rem;
}

.hero-btn-dots {
  width: 25rem;
  margin-top: 2rem;
  margin-left: -2.85rem;
}

.hero-img-meeting {
  right: 0;
  width: 50vw;
}

/* OUR CLIENT SECTION */

.our-client-container {
  gap: 2.5rem;
  justify-content: space-between;

  margin-top: 6.5rem;
  margin-bottom: 5.85rem;
}

.our-client-text {
  max-width: 20rem;
}

.our-client-text h1 {
  margin-bottom: 1rem;
}

.our-client-text p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: var(--text-client);
}

.our-client-logos {
  gap: 3.75rem;
  cursor: pointer;
  margin-top: 1.5rem;
  align-items: center;
}

/* MAIN PRODUCTS */

/* VIDEO SECTION */

.video-container {
  gap: 4rem;
  justify-content: space-between;

  min-height: 30rem;
  margin: 9.125rem auto;
}

.video {
  height: 23.25rem;
  overflow: hidden;
  border-radius: 2rem;
}

.video-text h1 {
  line-height: 3rem;
}

.video-text {
  flex-direction: column;

  max-width: 36rem;
}

.blue-rectangle {
  margin-top: 2.5rem;
  margin-left: -2rem;
}

.text {
  gap: 1.875rem;
  flex-direction: column;

  margin-top: -9rem;
}

.pink-ellipse {
  justify-content: flex-end;
}

.pink-ellipse img {
  z-index: -1;
  margin-top: -5rem;
  margin-right: -2.5rem;
}

/* SUBSCRIBE SECTION */

.subscribe-container {
  margin: auto;
  padding: 10.1rem 1rem;
  max-width: 85rem;

  background-image: url("./assets/subscribe-background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.subscribe-content {
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.subscribe-newsletter {
  flex-direction: column;
}

.subscribe-input {
  align-items: center;
}

.subscribe-input input {
  width: 30rem;
  height: 4.25rem;
  border: none;
  outline: none;
  padding: 1.5rem;
  font-size: 0.875rem;
  border-radius: 5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.subscribe-button {
  width: 10rem;
  height: 3.25rem;
  margin-left: 19.5rem;
}

/* FOOTER */

.footer-container {
  justify-content: space-between;

  margin-top: 6.65rem;
  padding-bottom: 1.85rem;
  border-top: 2px solid var(--border-footer);
  border-bottom: 2px solid var(--border-footer);
}

.footer-text-socials {
  max-width: 19rem;
  font-size: 0.875rem;
  margin-top: 7.25rem;
}

.footer-text {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.4rem;
  margin-bottom: 2.5rem;
  color: var(--text-descriptions);
}

.footer-socials img {
  width: 3.25rem;
  cursor: pointer;
  padding-right: 1rem;
}

.footer-information {
  gap: 6.5rem;
  margin-top: 4rem;
}

.footer-information h5 {
  font-weight: 600;
  font-size: 1.25rem;
  padding-bottom: 1.5rem;
}

.footer-information p {
  cursor: pointer;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.75rem;
}

.copyright {
  margin: 1.5rem 0;
  font-weight: 300;
  font-size: 0.875rem;
  justify-content: center;
  color: var(--text-copyright);
}

/* RESPONSIVE */

@media screen and (max-width: 1200px) {
  .footer-information {
    gap: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .hero-container {
    flex-direction: column;
    align-items: center;
  }

  .hero-text {
    margin-top: 2rem;
    text-align: center;
  }

  .hero-text h1 {
    margin-bottom: 1rem;
  }

  .hero-btn {
    display: flex;
    justify-content: center;
  }

  .hero-btn-dots {
    margin: 2rem auto;
  }

  .our-client-logos {
    gap: 2.25rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
  }

  .blue-rectangle {
    margin-top: 0;
  }
}

@media screen and (max-width: 992px) {
  .video-container {
    gap: 2rem;
    flex-direction: column;
    align-items: center;

    margin-top: 5rem;
    margin-bottom: 0rem;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }

  .footer-text {
    margin-bottom: 1.5rem;
  }

  .footer-text-socials {
    margin-top: 1.85rem;
    text-align: center;
  }

  .footer-socials {
    display: flex;
    justify-content: center;
    margin-left: 1rem;
  }

  .footer-information {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .header-container {
    padding-bottom: 2rem;
  }

  .nav-container {
    justify-content: center;
  }

  .menu-container {
    gap: 1.5rem;
  }

  .our-client-container {
    margin: 4.5rem 0;
  }

  .subscribe-container {
    padding: 6rem 1rem;
  }
}

@media screen and (max-width: 576px) {
  .header-container {
    padding-top: 2rem;
  }

  .menu-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    text-align: center;
  }

  .our-client-container {
    gap: 2rem;
    align-items: center;
    flex-direction: column;

    margin: 3.5rem 0;
    text-align: center;
  }

  .subscribe-content {
    text-align: center;
  }

  .subscribe-input {
    gap: 1rem;
    align-items: center;
    flex-direction: column;
  }

  .subscribe-input input {
    width: 95%;
    height: 3.5rem;
    padding: 1rem 1.5rem;
  }

  .subscribe-button {
    margin-left: 0;
    position: static;
  }

  .video-width {
    width: 100%;
    height: auto;
  }

  .text {
    margin-bottom: 5rem;
  }

  .footer-container {
    margin-top: 2.5rem;
  }

  .footer-information {
    flex-direction: column;
    justify-content: start;

    width: 100%;
    gap: 1.5rem;
    padding-left: 1rem;
  }

  .footer-information h5 {
    padding-bottom: 0.5rem;
  }
}
